body {
	background-color: #E0E4CC;
	font-family: Georgia, Serif;
	margin-left: 10px;
}

header {
	height: 50px;
}

input {
	height: 30px;
	width: 250px;
	background-color: white;
	border: 1px solid #F38630;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
}

.completed {
	text-decoration: line-through;
}

li:first-letter {
	text-transform: capitalize;
}

#add-todo {
	color: #FA6900;
}
